html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-color: #070707;
  background-position-x: center;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.container {
  width: 940px;
  margin: 0 auto
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-heading {
  font-size: 30px;
  line-height: 42px;
}

.button {
  display: inline-block;

  padding: 10px 34px;
  border: 0;

  text-decoration: none;
  background: #000;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

/*********************** Header ***********************/
.main-nav {
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  line-height: 20px;
}

.main-nav__top-wrapper {
  background-color: #000;
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
}

.site-nav,
.user-options {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;

}

.site-nav__link {
  display: block;

  padding: 26px  20px;

  color: #fff;
  text-decoration: none;
}

.site-nav__link:hover {
  background-color: #242424;  
}

.user-options__login-button {
  display: block;

  padding: 26px  20px 26px 55px;

  position: relative;

  color: #fff;
  text-decoration: none;
}

.user-options__login-button::before {
  display: block;

  content: url(../img/login.svg);

  position: absolute;
  left: 24px;
  top: 29px;

  opacity: .3;
}

.user-options__login-button:hover::before {
  opacity: 1;
}

.user-options__login-button:hover {
  background-color: #242424;
}

.main-header__logo {
  margin: 60px auto 68px;
}


/********************* Feautures *********************/
.features {
  margin-bottom: 80px;
}

.features__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.feautres__item {
  text-align: center;
  width: 280px
}

.feutures__heading {
  position: relative;
  font-size: 30px;
  margin-bottom: 72px;
}

.feutures__heading::after {
  content: "";
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%; margin-top: 34px;
  left: 50%; margin-left: -11px;

  background-color: #fff;
 
  transform: rotate(45deg);
}


/********************* News *********************/
.section-row {
  display: flex;
  flex: 0 0 auto;

  justify-content: space-between;

  background-image: url(../img/separator.png), url(../img/section-bg.png);
  background-color: #f8f5f2;
  background-repeat: no-repeat, repeat;
  background-position: center;

  color: #000;

  padding: 50px 80px;
  margin-bottom: 36px;
}

.news {
  max-width: 350px;
}

.news__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.news__item {
  margin-bottom: 28px;
}

.news__link {
  text-decoration: none;
}

.news__link:hover {
  text-decoration: underline;
}

.news__date {
  margin: 0;
  text-transform: none;
}


/********************* Gallery *********************/
.gallery {
  width: 300px;
  position: relative;
}

.gallery__link {
  box-sizing: border-box;
}

.gallery__image {
  width: 100%;
  height: auto;
  border: 7px solid #fff;
}

.gallery__button {
  width: 140px;
  text-transform: uppercase;
  margin-top: 40px;
}

.gallery__button--next {
  position: absolute;
  right: 0;
}


/********************* Contacts *********************/
.contacts {
  width: 350px;
}

.contacts__address {
  margin-bottom: 25px;
}

.contacts__time {
  margin-bottom: 25px;
}

.contacts__button {
  margin-right: 20px;
}

.contacts__tel {
  text-decoration: none;
  color: #000;
}

.contacts__tel:hover {
  text-decoration: underline;
}


/******************* Appointment *******************/
.appointment {
  width: 300px;
}

.appointment__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment__form-field {
  display: inline-block;
  width: 140px;
  margin-top: 8px;
}

.appointment__form-field label {
  display: block;
  margin-left: 17px;
  margin-bottom: 8px;
}

.appointment__form-field input {
  border: 2px solid #000101;
  padding: 12px 6px 11px 14px;
  width: 140px;
  color: #000;
}

.appointment__form-field input::placeholder {
  color: #000;
}

.appointment__submit-btn {
  flex-grow: 1;
  text-transform: uppercase;
  margin-top: 20px;
}



